<header>
	<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4">
  <div class="container-fluid">
	<img src="/{{ site.navbarImgPath }}" width="25px" height="25px"></img> &nbsp;
	<a class="navbar-brand" href="#">{{ site.nameTitle }}</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav me-auto mb-2 mb-md-0">

		{% for pages in site.html_pages %}
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{ pages.url }}">{{ pages.title }}</a>
		</li>
		{% endfor %}

	  </ul>
	  <div class="d-flex">
		{% if site.linkedInAccount != "" %}
		<a href="https://www.linkedin.com/in/{{ site.linkedInAccount }}/"><i class="fa fa-linkedin fa-3x social px-1 socialAdd"></i></a>
		{% endif %}
		
		{% if site.instagramAccount != "" %}
		<a href="https://www.instagram.com/{{ site.instagramAccount }}/"><i class="fa fa-instagram fa-3x social px-1 socialAdd"></i></a>
		{% endif %}

		{% if site.githubAccount != "" %}
		<a href="https://github.com/{{ site.githubAccount }}/"><i class="fa fa-github fa-3x social px-1 socialAdd"></i></a>
		{% endif %}

		{% if site.mailAccount != "" %}
		<a href="mailto:{{ site.mailAccount }}"><i class="fa fa-envelope-square fa-3x social px-1 socialAdd"></i></a>
		{% endif %}
	  </div>
	</div>
  </div>
</nav>
<!-- End Navbar -->
</header>