<header>
	<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4" style="background-color: {{ site.colorNavbar }} !important; position: fixed; top: 0; width: 100%; z-index: 9000;">
  <div class="container-fluid" style="margin-left: 15px; margin-right: 15px;">
	<img src="{{ site.base_path }}/{{ site.navbarImgPath }}" width="25px" height="25px"></img> &nbsp;
	<a class="navbar-brand" href="#" style="color: {{site.colorNavbarText}} !important;">{{ site.nameTitle }}</a>
	<button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon" style="color: {{site.colorNavbarText}} !important;"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav me-auto mb-2 mb-md-0">

		{% for pages in site.html_pages %}
		{% if pages.title != "About" %}
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{ site.base_path }}/{{ pages.url }}" style="color: {{site.colorNavbarText}} !important;">{{ pages.title }}</a>
		</li>
		{% endif %}
		{% endfor %}
		<li class="nav-item dropdown">
			<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: {{site.colorNavbarText}} !important;">  Hover me  </a>
			 <ul class="dropdown-menu">
				{% for category in site.categories %}
				<li><a class="dropdown-item" href=""> {{ category[0] }}</a></li>
				{% endfor %}
			 </ul>
		 </li>

	  </ul>
	  <div class="d-flex">
		{% if site.linkedInAccount != "" %}
		<a href="https://www.linkedin.com/in/{{ site.linkedInAccount }}/" style="color: {{site.colorNavbarText}} !important;"><i class="fa fa-linkedin fa-3x social px-1 socialAdd"></i></a>
		{% endif %}
		
		{% if site.instagramAccount != "" %}
		<a href="https://www.instagram.com/{{ site.instagramAccount }}/" style="color: {{site.colorNavbarText}} !important;"><i class="fa fa-instagram fa-3x social px-1 socialAdd"></i></a>
		{% endif %}

		{% if site.githubAccount != "" %}
		<a href="https://github.com/{{ site.githubAccount }}/" style="color: {{site.colorNavbarText}} !important;"><i class="fa fa-github fa-3x social px-1 socialAdd"></i></a>
		{% endif %}

		{% if site.mailAccount != "" %}
		<a href="mailto:{{ site.mailAccount }}" style="color: {{site.colorNavbarText}} !important;"><i class="fa fa-envelope-square fa-3x social px-1 socialAdd"></i></a>
		{% endif %}
	  </div>
	</div>
  </div>
</nav>
<br>
<br>
<br>
<!-- End Navbar -->
</header>