@media all and (min-width: 700px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    
}

body{
	display:flex;
	flex-direction:column;
	min-height:100vh;
}

.wrapper{
	flex:1;
}

#myCarousel .carousel-item img {
	object-fit: cover;
	object-position: center;
	height: 50vh;
	overflow: hidden;
  }