---
layout: default
---
{{ content }}
<i>Number of post Displayed:</i> {{ site.posts.size }}
<br>
{% for post in site.posts %}
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">{{ post.title }} </h2>
    <p class="lead">{{ post.excerpt }}</p>
    <button type="button" class="btn btn-outline-secondary" onclick="location.href='{{ site.base_path }}{{ post.url }}';">Read More</button>
  </div>
</div>
<hr class="featurette-divider">
{% endfor %}

<br><br>


